footer {
    margin-top: 1rem;
    background: #161616;
    text-align: center;
    padding: 1rem 0;

}
footer .copyright {
    color: #898989;
}
footer .copyright a {
    text-decoration: none;
    color:#F2F2F2;
}